/*http://meyerweb.com/eric/tools/css/reset/v2.0 | 20110126 License: none (public domain)*/
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

* {
  box-sizing: border-box;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-weight: 400;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  height: 100%;
  overflow-x: hidden;
}

html {
  position: relative;
  height: 100%;
}

strong {
  font-weight: 700;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

em {
  font-style: italic;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

textarea, input[type="text"], input[type="button"], input[type="submit"] {
  -webkit-appearance: none;
  border-radius: 0;
  outline: 0;
  outline-outline: none;
}

button {
  -webkit-appearance: none;
}

main {
  transition: all .4s ease-out;
  display: block;
  transform-origin: center center;
  height: 100%;
}

* {
  outline: 0;
}

a {
  text-decoration: none;
}

/* FONTS */
/* GENERAL */
/* NAV */
/* HERO */
/* SQUARES */
/* SIGN-UP */
/* INSPIRATIONS */
/* FOOTER */
/* CATEGORY-ALL */
/* CATEGORY-MEN */
body {
  font-family: "Lato", sans-serif;
  font-size: 0px;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.active {
  display: inline-block;
}

.inactive {
  display: none;
}

.wrapper {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  max-width: 85vw;
}

.navigationBar {
  position: relative;
  z-index: 1;
  height: 115px;
  width: 100%;
  display: inline-block;
  border-bottom: 1px solid #dcdcdc;
  margin-bottom: 20px;
}

.navigationBar a, .navigationBar p {
  color: #dcdcdc;
  font-size: 14px;
}

.navigationBar.heroNav {
  position: absolute;
}

.navigationBar.darkVersion a, .navigationBar.darkVersion p {
  color: black;
}

.navigationBar.darkVersion #mobileMenuButton {
  background-color: #000000;
}

.navigationBar.darkVersion .leftNavigation ul li:first-child a {
  color: #ffffff;
  background-color: #000000;
  border: 1px solid #000000;
}

.navigationBar.darkVersion .rightNavigation ul .user #userIcon {
  fill: #000000;
}

.navigationBar.darkVersion .rightNavigation ul .basket #basketIcon {
  fill: #000000;
}

.navigationBar.darkVersion .rightNavigation ul .search .searchIcon {
  border: 1px solid #959595;
  fill: #000000;
}

.navigationBar.darkVersion .rightNavigation ul .search .searchIcon:hover {
  background-color: #606060;
  fill: #ffffff;
}

.navigationBar.darkVersion .rightNavigation ul .search .searchBar {
  border: 1px solid #959595;
}

.navigationBar .leftNavigation {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}

.navigationBar .leftNavigation ul li {
  display: inline-block;
  margin-right: 50px;
}

@media (min-width: 0) and (max-width: 1060px) {
  .navigationBar .leftNavigation ul li {
    margin-right: 25px;
  }
}

.navigationBar .leftNavigation ul li:first-child {
  margin-right: 55px;
}

@media (min-width: 0) and (max-width: 1060px) {
  .navigationBar .leftNavigation ul li:first-child {
    margin-right: 30px;
  }
}

.navigationBar .leftNavigation ul li:first-child a {
  color: #000000;
  padding: 11px 10px;
  background-color: #ffffff;
  border: 1px solid #ffffff;
}

.navigationBar .leftNavigation ul li:last-child {
  margin-right: 0px;
}

.navigationBar .rightNavigation {
  text-align: right;
  display: inline-block;
  position: absolute;
  right: 0px;
  top: 50%;
  transform: translateY(-50%);
}

.navigationBar .rightNavigation.loggedOut {
  width: 283px;
}

@media (min-width: 0) and (max-width: 1060px) {
  .navigationBar .rightNavigation.loggedOut {
    width: 233px;
  }
}

.navigationBar .rightNavigation.loggedIn {
  width: 360px;
}

@media (min-width: 0) and (max-width: 1060px) {
  .navigationBar .rightNavigation.loggedIn {
    width: 308px;
  }
}

.navigationBar .rightNavigation ul {
  position: relative;
}

.navigationBar .rightNavigation ul li {
  display: inline-block;
}

.navigationBar .rightNavigation ul li p {
  bottom: 2px;
}

.navigationBar .rightNavigation ul li p .logout {
  color: #f68236;
}

.navigationBar .rightNavigation ul li p.active {
  display: inline-block;
  position: relative;
}

.navigationBar .rightNavigation ul li p.inactive {
  display: none;
}

.navigationBar .rightNavigation ul .user {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 1px;
}

@media (min-width: 0) and (max-width: 345px) {
  .navigationBar .rightNavigation ul .user {
    left: 21px;
  }
}

.navigationBar .rightNavigation ul .user #userIcon {
  height: 16px;
  width: 11px;
  margin-right: 6px;
  fill: #b3b3b3;
}

.navigationBar .rightNavigation ul .basket {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 90px;
}

@media (min-width: 0) and (max-width: 1060px) {
  .navigationBar .rightNavigation ul .basket {
    right: 64px;
  }
}

@media (min-width: 0) and (max-width: 345px) {
  .navigationBar .rightNavigation ul .basket {
    right: 54px;
  }
}

.navigationBar .rightNavigation ul .basket #basketIcon {
  height: 16px;
  width: 18px;
  margin-right: 6px;
  fill: #b3b3b3;
}

.navigationBar .rightNavigation ul .search .searchIcon {
  border: 1px solid #b3b3b3;
  top: 15px;
  height: 40px;
  width: 40px;
  padding: 12px 12px;
  fill: #b3b3b3;
}

.navigationBar .rightNavigation ul .search .searchIcon:hover {
  background-color: white;
  border: white;
  fill: black;
}

.navigationBar .rightNavigation ul .search .searchBar {
  display: none;
  position: absolute;
  right: 40px;
  border: 1px solid #b3b3b3;
  height: 40px;
  width: 245px;
  padding-left: 13px;
}

.navigationBar .rightNavigation ul .search .searchBar::placeholder {
  font-style: italic;
  color: #dcdcdc;
}

.navigationBar .rightNavigation ul .search .searchBar.active {
  display: inline-block;
}

@media (min-width: 0) and (max-width: 1060px) {
  .navigationBar .rightNavigation ul .search .searchBar {
    width: 192px;
  }
}

.navigationBar .rightNavigation ul.loggedIn {
  background-color: yellow;
}

@media (min-width: 0) and (max-width: 430px) {
  .navigationBar .rightNavigation.loggedIn {
    width: 289px;
  }
  .navigationBar .rightNavigation.loggedIn .basket {
    right: 55px;
  }
}

@media (min-width: 0) and (max-width: 400px) {
  .navigationBar .rightNavigation.loggedIn {
    width: 195px;
  }
  .navigationBar .rightNavigation.loggedIn .user {
    top: 10px;
    left: 4px;
  }
  .navigationBar .rightNavigation.loggedIn .basket {
    top: 32px;
    right: 106px;
  }
}

@media (min-width: 0) and (max-width: 860px) {
  .navigationBar #mobileMenuButton {
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1;
    height: 40px;
    width: 40px;
    background-color: #fffffff2;
    padding: 4px 4px;
  }
  .navigationBar .leftNavigation {
    display: none;
    position: absolute;
    top: 317px;
    width: 100%;
  }
  .navigationBar .leftNavigation.active {
    display: block;
  }
  .navigationBar .leftNavigation ul {
    width: 100%;
  }
  .navigationBar .leftNavigation ul li {
    width: 100%;
    display: block;
    text-align: center;
    background-color: #fffffff2;
    border-bottom: 1px solid #b3b3b3;
    line-height: 75px;
  }
  .navigationBar .leftNavigation ul li:first-child {
    display: none;
  }
}

.basketPopup {
  clip-path: polygon(0 35%, 65% 35%, 65% 0%, 100% 0, 100% 100%, 0 100%);
  background-color: #b3b3b3;
  z-index: 10;
  width: 326px;
  position: absolute;
  right: -10px;
  padding-right: 20px;
  top: -10px;
}

.basketPopup::before {
  clip-path: polygon(0 35.8%, 65.4% 35.8%, 65.4% 0%, 100% 0, 100% 100%, 0 100%);
  content: '';
  position: absolute;
  z-index: -1;
  background-color: #ffffff;
  right: 1px;
  top: 1px;
  width: 324px;
  height: 88px;
}

.basketPopup .basketPopupItem {
  position: relative;
  width: 100%;
  height: 90px;
  top: 40px;
}

.basketPopup .basketPopupItem img {
  position: absolute;
  top: -5px;
  left: 10px;
  width: 50px;
  height: 50px;
  border: 1px solid #dcdcdc;
}

.basketPopup .basketPopupText {
  display: inline-block;
  font-size: 14px;
  color: black;
}

.basketPopup .basketPopupText .basketItem {
  position: relative;
  right: 90px;
}

.basketPopup .basketPopupText .basketPrice {
  position: relative;
  right: 15px;
}

.basketPopup .basketRemove {
  display: inline-block;
  color: black;
  position: relative;
  right: 5px;
  top: 5px;
  font-size: 30px;
  transform: rotate(-45deg);
}

.footer {
  font-size: 0px;
}

.footer article {
  font-size: 14px;
  display: inline-block;
  width: 23.3%;
  vertical-align: top;
  border-right: 1px solid #eaeaea;
  height: 160px;
  margin-right: 20px;
  margin-bottom: 40px;
}

@media (min-width: 0) and (max-width: 1386px) {
  .footer article {
    width: 23%;
  }
}

@media (min-width: 0) and (max-width: 1180px) {
  .footer article {
    width: 21%;
    height: 180px;
  }
}

@media (min-width: 0) and (max-width: 660px) {
  .footer article {
    width: 42.5%;
  }
  .footer article:nth-of-type(2) {
    border-right: none;
  }
}

@media (min-width: 0) and (max-width: 350px) {
  .footer article {
    width: 42.5%;
  }
  .footer article:nth-of-type(3) {
    height: 220px;
  }
}

.footer article:last-of-type {
  border-right: none;
}

.footer article h3 {
  font-weight: 600;
  text-transform: uppercase;
  margin-top: 15px;
  margin-bottom: 20px;
}

.footer article p {
  line-height: 20px;
}

.footer article a {
  line-height: 20px;
  color: black;
}

.footer article a:hover {
  text-decoration: underline;
}

.footer article .socialMedia {
  display: inline-block;
  margin-top: 10px;
  height: 30px;
  width: 30px;
  border: 1px solid black;
}

.footer article .socialMedia:hover {
  background: #696969;
}

.footer article .socialMedia:hover svg {
  fill: white;
}

.footer article .socialMedia svg {
  position: relative;
  top: 25%;
  left: 20%;
  height: 30px;
  width: 30px;
  fill: #606060;
}

.footer article .socialMedia #fb {
  left: 35%;
}

.multiCarousel {
  font-size: 0;
  display: inline-block;
  position: relative;
  height: 200px;
  width: 100%;
}

.multiCarousel .images {
  overflow: hidden;
  display: inline-block;
  position: relative;
  background-color: #bbbbbb;
  height: 120px;
  width: calc(85vw -  80px);
}

.multiCarousel .images img {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: calc( (85vw -  80px) / 5);
}

@media (min-width: 0) and (max-width: 1024px) {
  .multiCarousel .images img {
    width: calc( (85vw -  80px) / 4);
  }
}

@media (min-width: 0) and (max-width: 840px) {
  .multiCarousel .images img {
    width: calc( (85vw -  80px) / 3);
  }
}

@media (min-width: 0) and (max-width: 660px) {
  .multiCarousel .images img {
    width: calc( (85vw -  80px) / 2);
  }
}

@media (min-width: 0) and (max-width: 470px) {
  .multiCarousel .images img {
    width: calc( (85vw -  80px));
  }
}

.multiCarousel .arrow {
  display: inline-block;
  position: relative;
  top: opx;
  max-width: 40px;
  width: 100%;
  max-height: 120px;
  height: 100%;
  background-color: #e4e4e4;
  fill: black;
  cursor: pointer;
}

.multiCarousel .arrow:last-of-type {
  right: 0px;
}

.breadcrumbs {
  font-size: 14px;
  margin: 10px 0px 40px 0px;
}

.breadcrumbs a {
  color: black;
  text-transform: uppercase;
  margin: 0px 10px 0px 10px;
}

.hero {
  position: relative;
  top: 0px;
  width: 100%;
  height: 620px;
  background-color: #aaaaaa;
  background-blend-mode: multiply;
  background-size: cover;
  background-position: center;
}

.hero .heroContent {
  position: relative;
  height: 100%;
  max-width: 85vw;
  text-align: center;
}

.hero .heroContent h1 {
  font-size: 72px;
  text-transform: uppercase;
  color: white;
  padding-top: calc(620px * 0.37);
}

@media (min-width: 0) and (max-width: 975px) {
  .hero .heroContent h1 {
    padding-top: calc(620px * 0.302);
  }
}

@media (min-width: 0) and (max-width: 523px) {
  .hero .heroContent h1 {
    padding-top: calc(620px * 0.216);
  }
}

@media (min-width: 0) and (max-width: 411px) {
  .hero .heroContent h1 {
    padding-top: calc(620px * 0.259);
  }
}

@media (min-width: 0) and (max-width: 411px) {
  .hero .heroContent h1 {
    padding-top: calc(620px * 0.30);
    font-size: 50px;
  }
}

.hero .heroContent p {
  font-size: 24px;
  margin: calc(620px * 0.056) 0 calc(620px * 0.108) 0;
  font-style: italic;
  color: #dcdcdc;
}

@media (min-width: 0) and (max-width: 712px) {
  .hero .heroContent p {
    margin-bottom: calc(620px * 0.079);
  }
}

@media (min-width: 0) and (max-width: 411px) {
  .hero .heroContent p {
    font-size: 18px;
  }
}

.hero .heroContent a {
  font-size: 15px;
  background-color: #696969;
  padding: 25px 33px;
  color: white;
  text-transform: uppercase;
  cursor: pointer;
}

.hero .heroContent a:hover {
  color: black;
  background-color: white;
}

@media (min-width: 0) and (max-width: 411px) {
  .hero .heroContent a {
    padding: 20px 28px;
    font-size: 12px;
  }
}

.hero .imageSelectionSquares {
  position: absolute;
  bottom: 10%;
  left: 50%;
  transform: translateX(-45%);
}

.hero .imageSelectionSquares li {
  display: inline-block;
  margin-right: 8px;
  width: 15px;
  height: 15px;
  border: 1px solid #cecece;
  cursor: pointer;
}

.hero .imageSelectionSquares li:hover {
  border: 1px solid white;
  background-color: white;
}

.hero .imageSelectionSquares .active {
  border: 1px solid white;
  background-color: white;
}

.hero .arrow {
  display: inline-block;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 40px;
  height: 120px;
  background-color: #cfcfcf;
  fill: white;
  cursor: pointer;
}

.hero .arrow:last-of-type {
  right: 0px;
}

@media (min-width: 0) and (max-width: 860px) {
  .hero .arrow {
    width: 20px;
    height: 85px;
  }
}

.squares {
  position: relative;
  font-size: 0;
}

.squares .wrapper {
  height: 951px;
}

@media (min-width: 0) and (max-width: 800px) {
  .squares .wrapper {
    height: 1170px;
  }
}

.squares .column {
  vertical-align: top;
  display: inline-block;
  width: 25%;
  height: 887px;
  position: relative;
  top: 33px;
  text-align: center;
  color: white;
}

@media (min-width: 0) and (max-width: 800px) {
  .squares .column {
    width: 50%;
    height: 600px;
  }
}

.squares .column .small {
  height: 295px;
}

@media (min-width: 0) and (max-width: 800px) {
  .squares .column .small {
    height: 200px;
  }
}

.squares .column .big {
  height: 590px;
}

@media (min-width: 0) and (max-width: 800px) {
  .squares .column .big {
    height: 400px;
  }
}

.squares .column h2 {
  font-size: 24px;
  font-weight: 600;
  font-style: bold;
  text-transform: uppercase;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

@media (min-width: 0) and (max-width: 450px) {
  .squares .column h2 {
    font-size: 18px;
  }
}

.squares .column p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
}

.squares .column .newArrival {
  background-color: #d2d2d2;
}

.squares .column .newArrival h2 {
  width: 160px;
  max-width: 80%;
}

.squares .column .newArrival p {
  position: relative;
  top: 49%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 160px;
  font-size: 18px;
  font-style: bold;
  text-transform: uppercase;
  max-width: 80%;
}

@media (min-width: 0) and (max-width: 450px) {
  .squares .column .newArrival p {
    font-size: 14px;
  }
}

.squares .column .tweet {
  background-color: #bbbbbb;
}

.squares .column .tweet div {
  position: relative;
  top: 25%;
  transform: translateY(-50%);
}

@media (min-width: 0) and (max-width: 800px) {
  .squares .column .tweet div {
    top: 20%;
  }
}

.squares .column .tweet div::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 50%;
  transform: translateX(-230%);
  width: 20px;
  height: 2px;
  background-color: white;
}

.squares .column .tweet div::after {
  content: "";
  position: absolute;
  top: 10px;
  right: 50%;
  transform: translateX(230%);
  width: 20px;
  height: 2px;
  background-color: white;
}

.squares .column .tweet p {
  width: 80%;
  font-size: 14px;
}

@media (min-width: 0) and (max-width: 450px) {
  .squares .column .tweet p {
    font-size: 12px;
  }
}

.squares .column .tweet p:first-of-type {
  position: relative;
  top: 42%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 18px;
  max-width: 185px;
}

@media (min-width: 0) and (max-width: 400px) {
  .squares .column .tweet p:first-of-type {
    top: 42%;
    width: 90%;
  }
}

.squares .column .tweet p:last-of-type {
  position: relative;
  top: 41%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 160px;
}

.squares .column .pricing {
  background-color: #cacaca;
}

.squares .column .pricing h2 {
  position: relative;
  top: 42%;
  max-width: 80%;
}

.squares .column .pricing p {
  position: relative;
  top: 42%;
  font-size: 18px;
  text-transform: uppercase;
}

.squares .column .object {
  background-color: #606060;
}

.squares .column .object img {
  position: relative;
  top: 105px;
  height: 20px;
}

@media (min-width: 0) and (max-width: 800px) {
  .squares .column .object img {
    top: 60px;
  }
}

.squares .column .object h2 {
  position: relative;
  top: 46%;
  max-width: 80%;
}

.squares .column .object p {
  font-size: 18px;
  position: relative;
  top: 45.5%;
  font-style: clear;
}

.squares .column:first-of-type article:last-of-type {
  background-color: #c2c2c2;
}

.squares .column:nth-of-type(2) {
  position: relative;
}

@media (min-width: 0) and (max-width: 540px) {
  .squares .column:nth-of-type(2) article:first-of-type p:last-of-type {
    top: 30%;
  }
}

@media (min-width: 0) and (max-width: 465px) {
  .squares .column:nth-of-type(2) article:first-of-type p:last-of-type {
    top: 26%;
  }
}

.squares .column:nth-of-type(3) article:first-of-type {
  background-color: #dbdbdb;
}

.squares .column:last-of-type article:last-of-type {
  background-color: #d7d7d7;
}

.signUp {
  margin-top: 106px;
  text-align: center;
  height: 310px;
}

.signUp h2 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 20px;
}

@media (min-width: 0) and (max-width: 768px) {
  .signUp h2 {
    font-size: 30px;
  }
}

@media (min-width: 0) and (max-width: 450px) {
  .signUp h2 {
    font-size: 26px;
  }
}

.signUp p {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 18px;
  letter-spacing: 1px;
  margin: 25px 0px;
  color: #606060;
}

@media (min-width: 0) and (max-width: 768px) {
  .signUp p {
    font-size: 16px;
  }
}

@media (min-width: 0) and (max-width: 450px) {
  .signUp p {
    font-size: 14px;
  }
}

.signUp div {
  height: 55px;
  font-size: 0;
}

@media (min-width: 0) and (max-width: 450px) {
  .signUp div {
    height: 45px;
  }
}

.signUp div input {
  margin-top: 5px;
  height: inherit;
  width: 100%;
  padding-left: 13px;
}

.signUp div #signUpInput {
  border: 1px solid #959595;
  max-width: 475px;
}

@media (min-width: 0) and (max-width: 768px) {
  .signUp div #signUpInput {
    width: 75%;
  }
}

@media (min-width: 0) and (max-width: 450px) {
  .signUp div #signUpInput {
    width: 65%;
  }
}

.signUp div #signUpButton {
  background: #f68236;
  border: 1px solid #f68236;
  color: white;
  max-width: 95px;
  padding-right: 13px;
}

.signUp div #signUpButton:hover {
  background: #717171;
  border: 1px solid #717171;
  cursor: pointer;
}

.signUp div p {
  position: relative;
  top: 20px;
  font-family: "Lato", sans-serif;
  font-size: 24px;
  font-style: normal;
  text-transform: uppercase;
}

.signUp #signUpFeedbackWarning {
  color: red;
  font-family: "Lato", sans-serif;
  font-size: 14px;
}

.category {
  text-align: center;
}

.category h2 {
  font-size: 24px;
  font-family: "Lato", sans-serif;
  text-transform: uppercase;
}

.category .category-link {
  display: block;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 71px;
  color: #606060;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: underline;
  margin: 20px 0px 65px 0px;
}

.category .category-link::after {
  content: " ";
  font-size: 0;
  position: absolute;
  top: 38%;
  left: 105%;
  border-bottom: 2.5px solid transparent;
  border-left: 4.5px solid #696969;
  border-top: 2.5px solid transparent;
}

.category .category-products {
  display: inline-block;
}

.category .category-products img {
  height: 255px;
  width: 205px;
  object-fit: cover;
  border: 1px solid #dcdcdc;
  margin: 0px 55px 0px 55px;
}

@media (min-width: 0) and (max-width: 400px) {
  .category .category-products img {
    margin: 0 0;
  }
}

.category .category-products a h3 {
  color: black;
  font-size: 14px;
  font-weight: 600;
  margin: 31px 0px 10px 0px;
}

.category .category-products p {
  font-size: 14px;
  padding-bottom: 30px;
}

.category .category-products:last-of-type p {
  padding-bottom: 70px;
}

.lookbook {
  border-top: 1px solid #dcdcdc;
  margin-bottom: 95px;
}

.lookbook h3 {
  text-align: center;
  color: #959595;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-size: 24px;
  font-style: italic;
  padding: 50px 0px 60px 0px;
}

.productDisplay {
  width: 100%;
  height: 38.45vw;
  background-color: #fafafa;
  margin-bottom: 65px;
}

.productDisplay .mainProductImage {
  height: 38.45vw;
  max-width: 85vw;
  object-fit: cover;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

.productDisplay .miniatureImages {
  position: absolute;
  bottom: 10px;
  left: calc(100% - 75px);
}

.productDisplay .miniatureImages img {
  display: block;
  height: 65px;
  width: 65px;
  object-fit: cover;
  border: 1px solid #e5e5e5;
  margin-top: 10px;
}

@media (min-width: 0) and (max-width: 600px) {
  .productDisplay .miniatureImages {
    left: calc(100% - 60px);
  }
  .productDisplay .miniatureImages img {
    height: 50px;
    width: 50px;
  }
}

@media (min-width: 0) and (max-width: 500px) {
  .productDisplay {
    height: 55vw;
  }
  .productDisplay .mainProductImage {
    height: 55vw;
  }
  .productDisplay .miniatureImages {
    top: 55vw;
    left: 50%;
    transform: translateX(-50%);
    width: 170px;
  }
  .productDisplay .miniatureImages img {
    display: inline-block;
    height: 50px;
    width: 50px;
  }
  .productDisplay .miniatureImages img:nth-of-type(2) {
    margin: 0 10px;
  }
}
/*# sourceMappingURL=main.css.map */